@page
@model CarApplication.Pages.Owners.CreateModel

@{
    ViewData["Title"] = "Adaugă Proprietar";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="Owner.Name" class="control-label">Nume</label>
                <input asp-for="Owner.Name" class="form-control" />
                <span asp-validation-for="Owner.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Owner.Phone" class="control-label">Telefon</label>
                <input asp-for="Owner.Phone" class="form-control" />
                <span asp-validation-for="Owner.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adaugă" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Înapoi la listă</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}